$ligthBlue: #009AD2;
$front-rob:'Roboto', sans-serif;



.box-bodyList{
    background-image: url(../assets/fondo-project.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .box-listProjects{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 85%;
        font-family: $front-rob;
        .user-tasacion{
            background: rgb(66, 123, 197);
            margin-right: 5px;
            width: 20px;
            height: 20px;
        }
        .user-upload{
            background: green;
            margin-right: 5px;
        }
        .user-down{
            background: rgb(255, 227, 70);
            margin-right: 5px;
        }
        .user-remove{
            background: red;
            margin-right: 5px;
        }

        .head-list{
            background: #ffff;
            width: 98%;
            display: flex; 
            justify-content: space-between;
            align-items: center;
            flex-flow: row wrap;
            padding: 1%;
            
            .title-list{
                color: #A0A29F;
                font-size: 25px;
                font-weight: 600;
            }

            .leyenda{
                display: flex; 
                justify-content: space-between;
                flex-flow: row wrap;
                align-items: center;
                font-size: 15px;

                .icon-leyenda{
                    margin: 0 20px;

                    
                }
            }
        }

        .body-list{
            background: rgba(225, 249, 241, 0.83);
            width: 98%;
            height: 90%;
            display: flex;
            flex-direction: column;
            padding: 1%;

            .search-list{
                display: flex;
                flex-direction: column;
                margin: 10px;
        
                p{
                    margin: 10px 0;
                }
                .box-search{
                    display: flex;
                    flex-direction: row;
                    justify-content:flex-start;
                    width: 100%;

                    input{
                        margin: 0 10px;
                        height: 20px;
                    }

                    .btn-search{
                        color: #fff;
                        font-size: 1.0rem;
                        font-weight: 500;
                        background-color: $ligthBlue;
                        height: 25px;
                        margin-left: 50px;
                        width: 10%;
                        border-radius: 5px;
                        border: 0;
                    }
                }

            }
            .roll-table{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                height: 85%;
                overflow: auto;

                .table-list{
                    background:  #FAFAFA;
                    width: 98%;
                    // height: 85%;
                    margin: 1%;
                    overflow: auto;
                    th{
                        padding-top: 5px;
                        padding-bottom: 5px;
                        text-align: center;
                        background-color: #E5E5E5;
                        color: black;
                    }
                        td{
                            padding-top: 5px;
                            padding-bottom: 5px;
                            text-align: center;
                            color: black;
                        }
               
                }
            }
        

            .btn-newTasacion{
                color: #fff;
                font-size: 1.3rem;
                font-weight: 500;
                background-color: $ligthBlue;
                height: 35px;
                margin-left: 40%;
                width: 20%;
                margin-top: 10px;
                border-radius: 5px;
                border: 0;
                text-decoration: none;
                text-align: center;
            }
        }
    }
}